@*@page "/favourites"
@inject HttpClient Http

<PageTitle>Favourites</PageTitle>

<h1>Favourties</h1>


@if (favourites == null)
{
    <p><em>Pick some favourites!</em></p>
}
else
{    
    @foreach (var entry in favourites)
    {
        <div class="content-div">
            <img src="@entry.url" width="500" height="600" />
            <button class="btn btn-primary" @onclick="entry.LikeCat">Like!</button>
            <p role="status">Likes: @entry.favCount</p>
        </div>

    }
      

@code {
}*@

